/*
 * Estilos de tu proyecto
 */
 /*colores Lab: 
 gris:#363636;
 amarillo:#F7B500;
 gris claro:#757575;*/
 
*{
	margin:0;
	padding: 0;
}

body{
	font-family: 'Source sans pro';
}

/*HEADER*/
header{
	margin-bottom: 40px;
	background-color: #cdcbcb;
}



.glyphicon-chevron-left{
	font-size: 40px;
	top:65px;
}

header div div a:hover{
	color:#F7B500;
}

img{
	margin-left:550px;
	margin-top: 20px;
}

.wrapper .logo{
	display: inline-block;
}

/* Para que se vea en celulares*/
@media screen and (max-width: 950px) {
	header .logo,
	header nav {
		text-align:center; /*Centramos el menu y el logotipo*/
		line-height:100px;
	}
 
 
	.header2 .logo,
	.header2 nav {
		line-height:50px;
	}
}


/*img{
	display: inline-block;
	margin: 0 auto;
	margin-left:396px;
}

.image-contain{
	text-align: center;
	background-color:#fff;
	padding-top: 21px;	
} */

/*.btn_1 a{
	text-decoration: none;
}
.botones-derecha{
	float: right;
  	overflow: hidden;
  	padding-bottom: 24px;
}*/

/*FIN HEADER*/

/*SECCION SEDES*/
 #sede{
	 background-color: #F7B500;
	 margin-top: 40px;
}
/*FIN SECCION SEDES*/

/* SECCION DE RESUMEN */


.btn-danger {
	color: #fff;
	background-color: #F7B500;
	border-color: #F7B500;
}
/*FIN SECCION RESUMEN*/
.row{
	font-size: 20px;
}

/*SECCION PRINCIPAL*/

/*FIN SECCION PRINCIPAL*/

/*FOOTER*/
footer{
	width: 100%;
	height: auto;
	background-color:#363636;
	color: #fff;
}
